include ../modules/button/button.pug
include ../modules/input/input.pug
include ../modules/logo/logo.pug
include ../modules/nav/nav.pug
include ../modules/menu/menu.pug

include ../modules/rooms/rooms.pug
include ../modules/article/article.pug
include ../modules/navigation/navigation.pug
include ../modules/breadcrumbs/breadcrumbs.pug


include ../modules/header/header.pug
include ../modules/footer/footer.pug