extends ../template/template.pug
block content
	+nav.nav--white
	-var slider = [{img:"./img/slider-1-bg.png"},{img:"./img/slider-2-bg.png"},{img:"./img/slider-3-bg.png"},{img:"./img/slider-4-bg.png"},{img:"./img/slider-5-bg.png"},{img:"./img/slider-6-bg.png"}];
	.container-fluid
		+slider(slider).slider--big
	.container-fluid.container-fluid--primary
		+slider(slider).slider--min
	main.main
		.container
			.main__nav
				.row.align-right
					.col-12.col-sm-6.col-md-12.col-lg-5.col-xl-5
						-var bredcrumbs = [{link: "/",name: "Home"},{link: "/blog.html",name: "Blog"},{name: "Mesotherapy involves the injection of a pecially prepared"}];
						+breadcrumbs(bredcrumbs)
		.container(style="margin-top: -50px;")
			.row
				.col-12.col-sm-6.col-md-12.col-lg-7.col-xl-6
					.h6 Mesotherapy involves the injection of a pecially prepared
					p.font.second Mesotherapy involves the injection of a specially prepared mixture of vitamins, amino acids and medications, placed just millimetres under the skin and works by plumping and deeply hydrating the tissue, in turn softening surface lines caused by dehydrated skin.
					p.font.second The actual formula injected into the mesoderm (or surface layer of the skin) during Mesotherapy depends on the problem being treated.
					p.font.second In general, the substances used can include: a local anaesthetic, and products that may reduce inflammation and treat veins, muscle relaxants, enzymes, vitamins, minerals, plant extracts, hormones, and hormone blockers; to name but a few.
					p.font.second The results are subtle but effective; this treatment isn’t designed for the removal of any scarring or sun spots, the intention is to brighten and firm your skin so that it is the best version of its regular self. One treatment will ensure that you look like you’ve slept for a week - who wouldn’t want that?
					img(src="./img/blog-single.png")
					p.font.second Mesotherapy involves the injection of a specially prepared mixture of vitamins, amino acids and medications, placed just millimetres under the skin and works by plumping and deeply hydrating the tissue, in turn softening surface lines caused by dehydrated skin.
					p.font.second The actual formula injected into the mesoderm (or surface layer of the skin) during Mesotherapy depends on the problem being treated.
					p.font.second In general, the substances used can include: a local anaesthetic, and products that may reduce inflammation and treat veins, muscle relaxants, enzymes, vitamins, minerals, plant extracts, hormones, and hormone blockers; to name but a few.
					p.font.second 
						a.font.fifth Link: The results are subtle but effective. 
						| this treatment isn’t designed for the removal of any scarring or sun spots, the intention is to brighten and firm your skin so that it is the best version of its regular self. One treatment will ensure that you look like you’ve slept for a week - who wouldn’t want that?

	+footer
