extends ../template/template.pug
block content
	main.main
		.container
			.flex-container.align-middle.align-justify
				.h5 Blog
				-var bredcrumbs = [{link: "/",name: "Home"},{name: "Blog"}];
				+breadcrumbs(bredcrumbs)
		.container
			.row
				-var article = [{img: "./img/blog-1-small-bg.png",title: "Traver in mestia",date: "23 June 2018",text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nesciunt molestiae nobis at dolore, perferendis non odio error quasi numquam obcaecati magni modi ab soluta nostrum.",class: "article--olive"},{img: "./img/blog-2-small-bg.png",title: "Svaneti: Mestia & Ushguli villages",date: "23 June 2018",text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nesciunt molestiae nobis at dolore, perferendis non odio error quasi numquam obcaecati magni modi ab soluta nostrum.",class: "article--grey"},{img: "./img/blog-3-small-bg.png",title: "Svaneti: Mestia & Ushguli villages",date: "23 June 2018",text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nesciunt molestiae nobis at dolore, perferendis non odio error quasi numquam obcaecati magni modi ab soluta nostrum.",class: "article--brown"}];
				each item in article
					.col-12.col-sm-6.col-md-12.col-lg-12.col-xl-4
						+article(item)
		.container
			+navigation
	+footer
