extends ../template/template.pug
block content
	.page
		.triangle1
		.triangle2
		.ellipse1
		.ellipse2
		header.header.header--right
			+nav.nav--login
			section.section.section--header
				.container-fluid
					.container
						.text-center.section__description
							h1.h1 Dashboard
		.main
			section.section.section--dashboard
				.container-fluid
					.container
						.bg-font.dashboard.dashboard--empty.text-center
							img(src="./img/dashboard/bg.png", alt="")
							h3.h3 Your Dashboard is Empty
							+button('link').button--primary + Add Docoments
		+footer