extends ../template/template.pug
block content
	.page
		.triangle1
		.triangle2
		.ellipse1
		.ellipse2
		header.header.header--right
			+nav.nav--login
			section.section.section--header
				.container-fluid
					.container
						.text-center.section__description
							h1.h1 Dashboard
		.main
			section.section.section--dashboard
				.container-fluid
					.container
						.bg-font.dashboard.dashboard--not-empty.text-center
							.flex.align-middle.align-justify.flex-wrap
								h6.h6 Your Documents
								+button('link').button--primary + Add Docoments
							.table
								.table__row.table__row--service
									.table__cell
										p.font Document Type
									.table__cell
										p.font Name
									.table__cell
										p.font Date Created
									.table__cell
										p.font Last Update
									.table__cell
								- var n = 0;
								while n < 4
									.table__row
										.table__cell
											p.font(data="Document Type")= n++ + 'Bank Account'
										.table__cell
											p.font(data="Name") Sheel Gupta
										.table__cell
											p.font(data="Date Created") 20th April
										.table__cell
											p.font(data="Last Update") 25th April
										.table__cell
											.edit
											.details
											.delete
								.table__row
									.table__cell
										p.font(data="Document Type") Bank Account
									.table__cell
										p.font(data="Name") Sheel Gupta lorem  sdfs dfs fs df
									.table__cell
										p.font(data="Date Created") 20th April
									.table__cell
										p.font(data="Last Update") 25th April
									.table__cell
										.edit
										.details
										.delete
		+footer
		.shadow
			.popup
				.bg-font.dashboard.dashboard--details
					.row
						.col-12
							.text-center
								h5.h5 Document Details
						.col-12.col-md-6
							ul
								li
									p.font.font--md Document Type
									h5.h5 Bank Account
								li
									p.font.font--md Bank Name
									h5.h5 HDFC Bank
								li
									p.font.font--md Branch Name
									h5.h5 Andheri
								li
									p.font.font--md Nominee Name
									h5.h5 Nazirul
						.col-12.col-md-6
							ul
								li
									p.font.font--md Account Holder Name
									h5.h5 Sheel Gupta
								li
									p.font.font--md Account No.
									h5.h5 123456789872
								li
									p.font.font--md City
									h5.h5 Mumbai
								li
									p.font.font--md Document Location
									h5.h5 Bank Locker - 305
						.col-12
							p.font.font--md Note
							p.font.font--sm Assertively reinvent holistic information and intermandated niches. Collaboratively envisioneer superior infomediaries through end-to-end portals. Credibly procrastinate 2.0 meta-services whereas process-centric process improvements.
							+button('link').button--primary Edit
							+button('link').button--second Cancel