extends ../template/template.pug
block content
	.container
		p Checkbox
		+checkbox('example1', '')(checked)
		br
		+checkbox('example2', 'Label')

		hr
		p Radio
		+radio('example20', '', '')(checked)
		br
		+radio('example21', 'Label1', 'example1')
		br
		+radio('example22', 'Label2', 'example')
		+radio('example23', 'Label3', 'example')
		+radio('example24', 'Label4', 'example')

		hr
		p Button
		+button
		br
		+button('link')(href="#") Link
		//- +button('link')(href="#") 
			//- p Link
		br
		+button('button') Button
		//- +button('link')
			//- p Button
		br
		+button('button')(type="submit") Submit
		//- +button('link')
			//- p Submit
		
		hr
		p Field
		+field('text', 'Text placeholder', 'Text name', true)
		+field('email', 'Email placeholder', 'Email name', false)
		+field('password', 'Password placeholder', 'Password name', false)
		+field('password', 'Password placeholder', 'Password name')

		hr
		p Textarea
		+textarea("Textarea placeholder", "Textarea name", true)
		+textarea("Textarea placeholder", "Textarea name")