extends ../template/template.pug
block content
	+header.background(style="background-image: url('./img/header-bg.png')")
	main.main
		.container
			.row
				.col-12.col-sm-6.col-md-12.col-lg-12.col-xl-4
					p 1
				.col-12.col-sm-6.col-md-12.col-lg-12.col-xl-4
					p 2
				.col-12.col-sm-6.col-md-12.col-lg-12.col-xl-4
					p 3
	+footer