extends ../template/template.pug
block content
	+nav.nav--black
	main.main
		.container
			.main__nav.flex-container.align-middle.align-justify
				.h5 Offers
				-var bredcrumbs = [{link: "/",name: "Home"},{name: "Offers"}];
				+breadcrumbs(bredcrumbs)
		.container
			.row
				-var offers = [{img: "./img/offers-1-bg.png",title: "Toures in Goergia",text: "Mesotherapy involves the injection of a specially prepared mixture of vitamins, amino acids and medications, placed just millimetres under the skin and works by plumping and deeply hydrating the tissue, in turn softening surface lines caused by dehydrated skin.",subtext: "The actual formula injected into the mesoderm (or surface layer of the skin) during Mesotherapy depends on the problem being treated.",link: "info@hometbilisi.com"},{img: "./img/offers-2-bg.png",title: "Breakfast",text: "In general, the substances used can include: a local anaesthetic, and products that may reduce inflammation and treat veins, muscle relaxants, enzymes, vitamins, minerals, plant extracts, hormones, and hormone blockers; to name but a few..",subtext: "The actual formula injected into the mesoderm (or surface layer of the skin) during Mesotherapy depends on the problem being treatedThe results are subtle but effective; this treatment isn’t designed for the removal of any scarring or sun spots, the intention is to brighten and firm your skin so that it is the best"},{img: "./img/offers-3-bg.png",title: "Car Rent",text: "In general, the substances used can include: a local anaesthetic, and products that may reduce inflammation and treat veins, muscle relaxants, enzymes, vitamins, minerals, plant extracts, hormones, and hormone blockers; to name but a few..",subtext: "The actual formula injected into the mesoderm (or surface layer of the skin) during Mesotherapy depends on the problem being treatedThe results are subtle but effective; this treatment isn’t designed for the removal of any scarring or sun spots, the intention is to brighten and firm your skin so that it is the best"}];
				each item in offers
					.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
						+offers(item)
	+footer
