extends ../template/template.pug
block content
	.page
		.triangle1
		.triangle2
		.ellipse1
		.ellipse2
		header.header
			+nav.nav--login
			section.section.section--header
				.container-fluid
					.container
						.text-center.section__description
							h1.h1 Change Password
		.main
			section.section.section--password
				.container-fluid
					.container
						.bg-font.password
							ul
								li
									+field('password', 'Current Password', 'current-pswd', true)
								li
									+field('password', 'New Password', 'new-pswd', true)
								li
									.row
										.col-12.col-md-6
											+button('button').button--second Cancel
										.col-12.col-md-6
											+button('button').button--primary Change Password
		+footer