extends ../template/template.pug
block content
	+nav.nav--black
	main.main
		.container
			.main__nav.flex-container.align-middle.align-justify
				.h5 Rooms
				-var bredcrumbs = [{link: "/",name: "Home"},{name: "Rooms"}];
				+breadcrumbs(bredcrumbs)
		.container
			.row
				-var citrus = [{name: "Citrus",guests: "5",bad: "2",sq: "75"}];
				-var silver = [{name: "Silver",guests: "5",bad: "2",sq: "75"}];
				-var aqua = [{name: "Aqua",guests: "5",bad: "2",sq: "75"}];
				-var pine = [{name: "Pine",guests: "5",bad: "2",sq: "75"}];
				-var perl = [{name: "Perl",guests: "5",bad: "2",sq: "75"}];
				.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
					+room(citrus).room--big(style="background-image: url('./img/room-1-bg.png')", href="/room-single.html")
				.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
					.row
						.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							+room(silver).room--small(style="background-image: url('./img/room-2-bg.png')", href="/room-single.html")
						.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							+room(aqua).room--small(style="background-image: url('./img/room-3-bg.png')", href="/room-single.html")
						.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							+room(pine).room--small(style="background-image: url('./img/room-4-bg.png')", href="/room-single.html")
						.col-12.col-sm-6.col-md-6.col-lg-6.col-xl-6
							+room(perl).room--small(style="background-image: url('./img/room-5-bg.png')", href="/room-single.html")
	+footer