extends ../template/template.pug
block content
	+nav.nav--white
	-var slider = [{img:"./img/slider-1-bg.png"},{img:"./img/slider-2-bg.png"},{img:"./img/slider-3-bg.png"},{img:"./img/slider-4-bg.png"},{img:"./img/slider-5-bg.png"},{img:"./img/slider-6-bg.png"}];
	.container-fluid
		+slider(slider).slider--big
	.container-fluid.container-fluid--primary.relative
		+slider(slider).slider--min.room-single__slider
		.h1.light.room-single__name Citrus
	main.main
		.container
			.main__nav
				.flex-container
					-var bredcrumbs = [{link: "/",name: "Home"},{link: "/rooms.html",name: "Rooms"},{name: "Citrus"}];
					+breadcrumbs(bredcrumbs)
		.container
			+room-single
	+footer