.header{
	position: relative;
	&:before{
		content: '';
		position: absolute;	
		top: 0;
		width: 800px;
		height: 800px;
		background-position: 50%;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;
		background-image: url('../img/service/bg.png');
	}
	&--left{
		&:before{
			left: 0;
			transform: translate(-30%, -15%);
		}
	}
	&--right{
		&:before{
			right: 0;
			transform: translate(30%, -15%) rotateZ(250deg);
		}
	}
}