$breadcrumbs:(
	margin: 10px 0,
	color-all: #000,
	color-all-hover: #999,
	color-last: lighten(#000, 10%),
	text-decoration: true
);

.breadcrumbs{
	margin: map-get($breadcrumbs, margin);
	&__item{
		padding: 0 12px 0 7px;
		position: relative;
		&:hover,
		&--active{
			&:not(:last-child){
				color: map-get($breadcrumbs, color-all-hover);
				@if(map-get($breadcrumbs, text-decoration) == true){
					text-decoration: underline;
				}
			}
		}
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
			color: map-get($breadcrumbs, color-last);
		}
		&:not(:last-child){
			color: map-get($breadcrumbs, color-all);
			&:after{
				content: '>';
				margin-left: 5px;
				@include absolute-center-right(0)
			}
		}
	}
}