.footer{
	overflow: hidden;
	position: relative;
	padding-top: 100px;
	margin-top: -100px;
	&:before{
		content: '';
		position: absolute;	
		top: 0;
		left: 0;
		width: 800px;
		height: 800px;
		background-position: 50%;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../img/service/bg-left.png');
		transform: translateX(-20%) rotateZ(100deg);
		z-index: -1;
		@include media-max(768){
			top: 100%;
			transform: translate(-20%, -100%) rotateZ(100deg);
		}
	}
	&__info{
		padding: 75px 0 50px 0;
		.logo{
			margin-bottom: 20px;
		}
		.social{
			margin-top: 80px;
			@include media-max(768){
				margin-top: 20px;
			}
		}
		.links{
			&__item{
				&:first-child{
					margin-top: 20px;
					margin-bottom: 15px;
				}
				a{
					&:hover,
					&.active{
						color: $primary;
					}
				}
			}
		}
	}
	&__copyright{
		padding: 25px 0 20px 0;
		border-top: 1px solid #E8E8E8;
	}
}