mixin footer(modifier)
	.footer&attributes(attributes)
		.container
			.row
				.col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
					p.font.fourth Navigation
					hr.line
					ul.submenu
						li.submenu__item
							a.font.fourth(href="#") Room
						li.submenu__item
							a.font.fourth(href="#") Offers
						li.submenu__item
							a.font.fourth(href="#") About Us

				.col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
					p.font.fourth Contact
					hr.line
					ul.submenu
						li.submenu__item
							a.font.fourth(href="#") Tel: +032 2 78 34 90
						li.submenu__item
							a.font.fourth(href="#") Mob: +995 598 89 23 45
						li.submenu__item
							a.font.fourth(href="#") Addres: Pekini Ave 12

				.col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
					p.font.fourth Rooms
					hr.line
					ul.submenu
						li.submenu__item.flex-container.align-middle
							a.font.fourth(href="#") Citrus
							a.font.fourth(href="#") Perl
						li.submenu__item.flex-container.align-middle
							a.font.fourth(href="#") Pine
							a.font.fourth(href="#") Aqua
						li.submenu__item.flex-container.align-middle
							a.font.fourth(href="#") Silver

				.col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
					p.font.fourth Fin Us on
					hr.line
					ul.submenu
						li.submenu__item.flex-container.align-middle
							a.font.fourth(href="#") Airbnb.com
							a.font.fourth(href="#") Facebook
						li.submenu__item.flex-container.align-middle
							a.font.fourth(href="#") Booking.com
							a.font.fourth(href="#") Instagram
						li.submenu__item.flex-container.align-middle
							a.font.fourth(href="#") Trip Advisor

				.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.copyright
					p.font.fourth © 2018 aparthotel.com All Rights Reserved