$title-color: (
	'white': #fff
);
$title-size: (
	'1': 60px, 
	'2': 48px,
	'3': 40px,
	'4': 36px,
	'5': 30px,
	'6': 24px
);
$title-weight: (
	'medium': 500
);
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
	color: $third;
	line-height: $base-font-line-height;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	@each $status, $text-color in $title-color{
		&--#{$status}{
			color: $text-color;
		}
	}
	@each $status, $text-weight in $title-weight{
		&--#{$status}{
			font-weight: $text-weight;
		}
	}
}
@each $index, $status in $title-size{
	.h#{$index}{
		font-size: $status;
	}
}