mixin menu
	- var menu = [{name: "Home", link:"index.html"},{name: "About Us", link:"about.html"},{name: "Pricing", link:"plane.html"},{name: "Contact", link:"contact.html"}];
	ul.menu.flex.align-middle&attributes(attributes)
		each item in menu
			li.menu__item
				a.font.link(href=item.link)= item.name
		li.menu__item
			+button('link')(href="register.html").button--primary Sign In