mixin social
	ul.social.flex.align-middle&attributes(attributes)
		li.social__item
			a(href="#").fab.fa-facebook-f
		li.social__item
			a(href="#").fab.fa-google.active
		li.social__item
			a(href="#").fab.fa-linkedin-in
		li.social__item
			a(href="#").fab.fa-twitter
		li.social__item
			a(href="#").fab.fa-viber