mixin article(value)
	article.article&attributes(attributes)
		each item in value
			header.article__header
				.img.img--hover
					img(src="./img/"+item.img)
				h3= item.title
			main.article__body
				p.font= item.text
			footer.article__footer
				p.font= item.date