.breadcrumbs{
	&__item{
		padding: 0 10px 0 5px;
		position: relative;
		color: $second;
		&:hover,
		&--active{
			&:not(:last-child){
				color: $third;
			}
		}
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
			color: $third;
			cursor: default;
		}
		&:not(:last-child){
			&:after{
				content: '>';
				font-size: 16px;
				margin-left: 5px;
				margin-top: 1px;
				color: $second;
				@include absolute-right(0)
			}
		}
	}
}