.button {
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 20px;
	border-radius: 5px;
	color: $base-font-color;
	line-height: $base-font-line-height;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	transition: $base-transition;
	&.primary{
		background-color: $second;
		&:hover,
		&--active {
			background-color: darken($second, 10%)
		}
	}
	&.second{
		background-color: $sixth;
		&:hover,
		&--active {
			background-color: darken($sixth, 10%)
		}
	}
  	
}