mixin navigation(modifier)
	.navigation.flex-container.align-center-middle&attributes(attributes)
		a.font.navigation__item.arrow(href="#") <
		a.font.navigation__item.prev(href="#") Prev
		a.font.navigation__item(href="#") 1
		a.font.navigation__item(href="#") 2
		a.font.navigation__item(href="#") 3
		a.font.navigation__item(href="#") 4
		a.font.navigation__item.point ...
		a.font.navigation__item(href="#") 16
		a.font.navigation__item.next(href="#") Next
		a.font.navigation__item.arrow(href="#") >