.nav{
	background-color: rgba(0,0,0,0);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9;
	&--fixed{
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		&.nav--black{
			background-color: rgba(255,255,255,0.9);
		}
		&.nav--white{
			background-color: rgba(0,0,0,0.7);
		}
		.nav__container{
			border: 0;
		}
	}
	&--default{
		.nav__container{
			border-bottom: 1px solid #EAEFF5;
		}
	}
	&--white{
		.menu{
			&__item.font{
				color: #fff;
				&:last-child{
					background-image: url('../img/menu-last-white-bg.png');
				}
			}
		}
		.logo{
			background-image: url('../img/logo-white-bg.png');
		}
	}
	&--black{
		.menu{
			&__item.font{
				color: $third;
				&:last-child{
					background-image: url('../img/menu-last-black-bg.png');
				}
			}
		}
		.logo{
			background-image: url('../img/logo-black-bg.png');
		}
	}
}