mixin offers(item)
	.offers.row&attributes(attributes)
		.col-12.col-sm-6.col-md-5.col-lg-5.col-xl-5
			a.offers__img.cut.background(style="background-image: url(" + item.img + ")")
		.col-12.col-sm-6.col-md-7.col-lg-7.col-xl-7
			.offers__description
				a.h5(href="#")= item.title
				p.font= item.text
				p.font.second= item.subtext
				if item.link
					p.font For more info, contact us: 
						a.font.fifth(href="#")= item.link