.room-single{
	&__guests,
	&__beds,
	&__focus{
		background-repeat: no-repeat;
		background-position: center left;
		margin-right: 30px;
	}
	&__guests{
		background-image: url('../img/room-guests.png');
		background-size: 20px 17px;
		padding-left: 25px;
	}
	&__beds{
		background-image: url('../img/room-beds.png');
		background-size: 27px 19px;
		padding-left: 35px;
	}
	&__focus{
		background-image: url('../img/room-focus.png');
		background-size: 23px 23px;
		padding-left: 35px;
	}
	&__name{
		padding: 0 20px;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background-color: $sixth;
		position: absolute;
		top: 50%;
		left: 0;
		right: calc((100% + #{$max-width} - 600px) / 2);
		transform: translateY(-50%);
	}
	&__slider{
		transform: translateX(25%);
	}
	&__line{
		margin: 20px 0;
		background-color: #c4c4c4;
	}
	&__text,
	&__title{
		margin-bottom: 20px;
	}
	.facilities{
		&__item{
			width: 50%;
			margin: 5px 0;
			padding: 5px 0 5px 30px;
			position: relative;
			&:before{
				content: '';
				height: 20px;
				width: 20px;
				border-radius: 100%;
				background-color: #c9c9c9;
				@include absolute-left(0px);
			}
		}
	}
}