mixin room-single(item)
	.room-single&attributes(attributes)
		.flex-container.align-middle
			.room-single__guests
				p.font.md 5 Guests
			.room-single__beds
				p.font.md 3 Beds
			.room-single__focus
				p.font.md 75 
					sup.font.sm 2
		hr.line.room-single__line
		.h5.room-single__title Room details
		p.font.room-single__text Lorem ipsum dolor sit amet, iuvaret dolorem ex vim, est quis everti ea. Ad est nibh erroribus, est habemus perfecto ei, quot senserit qui ne. Duo ad animal senserit argumentum, ut ubique putant lobortis ius, no eos dicant luptatum. Cu sea homero complectitur, id aliquip mnesarchum sea. Eu mazim quidam usu, qui quis harum te.
		p.font.room-single__text Ad pri utinam primis, ei zril primis has. Pro inani delenit scribentur in. Eam alii hinc reque at, pri omnium fabulas referrentur no, cum ut purto pertinax. Sumo noster intellegam quo ex, ei qui postea possim. Ne his dicat minimum, vix at timeam praesent. voluptatum ei mel, eu sit odio ponderum intellegam, cum et volumus appareat. Sea atqui legendos interpretaris ex, has nonumes legendos an. Legendos indoctum at duo, id tation commune ullamcorper mei. Veniam intellegebat pro ex, pro at utinam primis, ei zril primis has. Pro inani delenit scribentur in. Eam alii hinc reque at, pri omnium fabulas referrentur no, cum ut purto pertinax. Sumo noster intellegam quo ex, ei qui postea possim. Ne his dicat minimum, vix at timeam praesent.

		.h5.room-single__title Apartment facilities
		hr.line.room-single__line
		- var facilities = ["Tea/Coffee Maker", "Safety Deposit Box", "Air conditioning", "TV", "Hairdryer", "Iron", "Balcony"];
		ul.flex-container.flex-wrap.facilities
			each item in facilities
				li.facilities__item
					p.font= item