.close{
	height: 31px;
	width: 31px;
	display: block;
	position: relative;
	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 2px;
		width: inherit;
		transition: all .5s;
		background-color: #000;
	}
	&:before{
		transform: translate(-50%, -50%) rotateZ(45deg);
	}
	&:after{
		transform: translate(-50%, -50%) rotateZ(-45deg);
	}
	&:hover,
	&--active{
		&:before,
		&:after{
			background-color: $primary;
		}
	}
}