$close:(
	height: 15px,
	width: 15px,
	color-background: #d4d4d4,
	color-background-hover: #000
);
.close{;
	height: map-get($close, width);
	width: map-get($close, height);
	display: block;
	position: relative;
	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 2px;
		width: inherit;
		transition: all .5s;
		background-color: map-get($close, color-background);
	}
	&:before{
		transform: translate(-50%, -50%) rotateZ(45deg);
	}
	&:after{
		transform: translate(-50%, -50%) rotateZ(-45deg);
	}
	&:hover,
	&--active{
		&:before,
		&:after{
			background-color: map-get($close, color-background-hover);
		}
	}
}