mixin slider
	.slider&attributes(attributes)
		.slider__item
			.bg-font.text-center
				img(src="./img/testimonials/1.png", alt="")
				h6.h6 Eugene Sullivan
				p.font Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo
		.slider__item
			.bg-font.text-center
				img(src="./img/testimonials/2.png", alt="")
				h6.h6 Carolyn Lucas
				p.font Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo
		.slider__item
			.bg-font.text-center
				img(src="./img/testimonials/3.png", alt="")
				h6.h6 Sara Porter
				p.font Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo