.input{
	color: $base-font-color;
	line-height: $base-font-line-height;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	padding: 5px 10px;
	border: 1px solid #d4d4d4;
	@include placeholder(#d4d4d4);
}