.container-fluid,
.container,
.section {
	width: 100%;
	margin:{
		right: auto;
		left: auto;
	}
}

.container {
	min-width: $min-width;
	max-width: $max-width;
}

.line{
	border: 0;
	height: 1px;
	background-color: #383838;
}