$min-width: 320px;
$max-width: 1200px;

$base-font-size: 12px;
$base-font-color: rgba(51,51,51,1);
$base-font-weight: 400;
$base-font-line-height: 1.5;
$base-font-family: 'Poppins', sans-serif;

$base-background-color: #fff;
$base-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

$base-grid-padding: 15px;
$base-grid-margin: 15px;
$base-grid-column: 12;


$primary: rgba(51,51,51,1);
$second: rgba(107,107,107,1);
$third: rgba(34,34,34,1);
$fourth: rgba(222,222,222,1);
$fifth: rgba(35,76,211,1);
$sixth: rgba(255,216,0,1);