$min-width: 320px;
$max-width: 1080px;

$base-font-size: 18px;
$base-font-color: #8B8B8B;
$base-font-weight: 400;
$base-font-line-height: 1.5;
$base-font-family: 'Gotham Pro', sans-serif;

$base-background-color: #fff;
$base-border-color: #d4d4d4;
$base-transition: all 0.5s;

$base-grid-padding: 15px;
$base-grid-margin: 15px;
$base-grid-column: 12;

$primary: #EE7623;
$second: #FFE7D7;
$third: #2A2A2A;