@mixin radio-custom{
	$radio:(
		padding: 5px,
		height: 15px,
		width: 15px,
		color: #fff,
		border-radius: 100%,
		background-color: #000
	);
	display: none;
	& + label{
		position: relative;
		padding-left: map-get($radio, width) + 5px;
		&:before,
		&:after{
			content: "";
			transition: all .5s;
			@if (map-get($radio, border-radius) != 0){
				border-radius: map-get($radio, border-radius);
			}	
		}
		&:before{
			width: map-get($radio, width);
			height: map-get($radio, height);
			@include absolute-center-left(0);
			z-index: 0;
			background-color: map-get($radio, background-color);
		}
		&:after{
			width: map-get($radio, width) - map-get($radio, padding);
			height: map-get($radio, height) - map-get($radio, padding);
			@include absolute-center-left(0 + map-get($radio, padding) / 2);
			z-index: 1;
		}
	}
	&:checked + label:after {
		background-color: map-get($radio, color);
	}
}