$nav:(
	background-color-fixed: rgba(0,0,0,0.5),
	background-color-default: rgba(0,0,0,0.05),
	height: 115px,
	z-index: 9
);

.nav{
	width: 100%;
	height: map-get($nav, height);
	z-index: map-get($nav, z-index);
	transition: all 0.5s ease-out 0s;
	[class*="container"],
	.flex{
		&:not(.menu){
			height: inherit;
		}
	}
	&--default{
		position: relative;
		@include media-max(768){
			background-color: #fff;
		}
	}
	&--fixed{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		background-color: #fff;
		box-shadow: $base-box-shadow;
	}
	&--login{
		.button{
			display: none;
		}
		.menu{
			margin-left: auto;
			margin-right: 40px;
			@include media-max(768){
				margin-right: 0;
			}
			&__item{
				&:last-child{
					margin-left: 0;
				}
			}
		}
		.submenu{
			display: block!important;
		}
	}
	.submenu{
		display: none;
		position: relative;
		@include media-max(768){
			margin-left: auto;
			margin-right: 10px;
		}
		&__wrapper{
			cursor: pointer;
			i{
				margin-left: 20px;
				font-size: 26px;
				@include media-max(768){
					margin-left: 10px;
				}
			}
			img{
				width: 65px;
				height: 65px;
				border-radius: 100%;
				overflow: hidden;
				@include media-max(768){
					width: 50px;
					height: 50px;
				}
			}
		}
		&__dropdown{
			position: absolute;
			padding: 20px 30px;
			border-radius: 10px;
			background-color: #fff;
			min-width: 200px;
			right: 0;
			top: 100%;
			transform: translateY(20px);
			box-shadow: $base-box-shadow;
			&:after {
				content: ''; 
				position: absolute;
				right: 30%;
				top: 0;
				transform: translateY(-100%);
				border: 10px solid transparent;
				border-bottom: 10px solid #fff;
				@include media-max(768){
					right: 20%;
				}
			}
			a{
				display: block;
			}
		}
	}
}
