.room{
	position: relative;
	box-shadow: inset -10px -10px 160px 0px rgba(0,0,0,0.65);
	&--big{
		height: 500px;
	}
	&--small{
		height: 240px;
		margin-bottom: 20px;
	}
	&__description{
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 10px;
		.font{
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
		*{
			color: #fff;
		}
	}
}